{% extends 'base.html' %}
{% load static %}

{% load crispy_forms_tags %}   
       
{% block active_budg_plan %} active {% endblock %}
{% block content %}

        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
            <div class="container-fluid mt-3">
                 {% if messages %}
                    {% for message in messages %}
                        {% if message.tags == 'error' %}
                            <div class="alert alert-danger alert-dismissible fade show">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                {{ message }}
                            </div>
                        {% else %}
                            <div class="alert alert-{{ message.tags }} alert-dismissible fade show">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                {{ message }}
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                <div class="row">
                    <div class="col-6 col-sm-9">
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body pb-0 d-flex justify-content-between">
                                        <button type="button" class="btn mb-1 btn-rounded btn-dark" data-id="{{ user.id }}" data-toggle="modal" data-target="#AddAccTransactionModal">
                                            <span class="btn-icon-left"><i class="fa fa-plus" style="color: black;"></i> 
                                            </span>Add Transaction
                                        </button>    
                                    </div>
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            {% if not budgtrans_list %}
                                                <p class="text-danger">There were no transactions made yet.</p>
                                                <hr>
                                            {% else %}
                                                <table class="table table-striped">
                                                    <thead>
                                                        <tr>
                                                            <th>Date</th>
                                                            <th>Budget Name</th>
                                                            <th>Type</th>
                                                            <th>Description</th>
                                                            <th>Amount</th>
                                                            <th>Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for trans in budgtrans_list %}
                                                            <tr>
                                                                <td>{{ trans.date }}</td>
                                                                <td>{{ trans.budget }}</td>
                                                                {% if trans.trans_type == 'Income' %}
                                                                    <td><span class="label label-pill label-success">{{ trans.trans_type }}</span></td>
                                                                {% elif trans.trans_type == 'Expense' %}
                                                                    <td><span class="label label-pill label-danger">{{ trans.trans_type }}</span></td>
                                                                {% else %}
                                                                    <td><span class="label label-pill label-info">{{ trans.trans_type }}</span></td>
                                                                {% endif %}
                                                                <td>{{ trans.desc }}</td>
                                                                <td class="color-primary">{{ trans.amount }}</td>
                                                                <td>
                                                                    <span>
                                                                        <a href="#" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-pencil color-muted m-r-5"></i> </a>
                                                                        <a href="#" data-toggle="tooltip" data-placement="top" title="Close"><i class="fa fa-close color-danger"></i></a>
                                                                    </span>
                                                                </td>
                                                            </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-6 col-sm-3">
                        <!-- <div class="card card-widget">
                            <div class="card-body gradient-2">
                                <div class="media">
                                    <div class="media-body">
                                        <h2 class="card-widget__title">$ 12,000.32</h2>
                                        <h5 class="card-widget__subtitle">Total Savings</h5>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                        <div class="row">
                            <div class="col-lg-3 col-sm-6">
                                <button type="button" class="btn mb-1 btn-rounded btn-dark" data-toggle="modal" data-target="#AddBudgetModal">
                                    <span class="btn-icon-left"><i class="fa fa-plus" style="color: black;"></i> 
                                    </span>Add Budget
                                </button>                    
                            </div>
                        </div>
                        <hr>
                        {% for budget in budget_list %}
                            <div class="card card-widget card gradient-2">
                                <div class="card-body">
                                    <div class="media">
                                        <span class="card-widget__icon"><i class="fa fa-credit-card"></i></span>
                                        <div class="media-body">
                                            {% if budget.total_balance == 0 %}
                                                <h2 class="card-widget__title">$ {{ budget.balance }}</h2>
                                            {% else %}
                                                <h2 class="card-widget__title">$ {{ budget.total_balance }}</h2>
                                            {% endif %}
                                            <h5 class="card-widget__subtitle">{{ budget.name|capfirst }}</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <!-- #/ container -->
        </div>
        <!--**********************************
            Content body end
        ***********************************-->

        <div class="modal fade" id="AddBudgetModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Add Budget</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form method="POST">
                            {% csrf_token %}
                            <input type="hidden" value="btn-budg" name="action">
                            {{ form_budget|crispy }}
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="AddAccTransactionModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Add Transaction</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form method="POST">
                            {% csrf_token %}
                            <input type="hidden" value="btn-trans" name="action">
                            {{ form_transaction|crispy }}
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
        
        
        