{% extends 'base.html' %}
{% load static %}

{% load crispy_forms_tags %}   
       

{% block content %}

        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">

            <div class="container-fluid mt-3">
                <div class="row">
                    <div class="col-6 col-sm-9">
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body pb-0 d-flex justify-content-between">
                                        <button type="button" class="btn mb-1 btn-rounded btn-dark" data-toggle="modal" data-target="#AddTransactionModal">
                                            <span class="btn-icon-left"><i class="fa fa-plus" style="color: black;"></i> 
                                            </span>Add Transaction
                                        </button>    
                                    </div>
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>Date</th>
                                                        <th>Account</th>
                                                        <th>Type</th>
                                                        <th>Description</th>
                                                        <th>Amount</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for trans in trans_list %}
                                                        <tr>
                                                            <td>{{ trans.date }}</td>
                                                            <td>{{ trans.account }}</td>
                                                            {% if trans.trans_type == 'Income' %}
                                                                <td><span class="label label-pill label-success">{{ trans.trans_type }}</span></td>
                                                            {% elif trans.trans_type == 'Expense' %}
                                                                <td><span class="label label-pill label-danger">{{ trans.trans_type }}</span></td>
                                                            {% else %}
                                                                <td><span class="label label-pill label-info">{{ trans.trans_type }}</span></td>
                                                            {% endif %}
                                                            <td>{{ trans.desc }}</td>
                                                            <td class="color-primary">{{ trans.amount }}</td>
                                                            <td>
                                                                <span>
                                                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-pencil color-muted m-r-5"></i> </a>
                                                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Close"><i class="fa fa-close color-danger"></i></a>
                                                                </span>
                                                            </td>
                                                        </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-6 col-sm-3">
                        <!-- <div class="card card-widget">
                            <div class="card-body gradient-2">
                                <div class="media">
                                    <div class="media-body">
                                        <h2 class="card-widget__title">$ 12,000.32</h2>
                                        <h5 class="card-widget__subtitle">Total Savings</h5>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                        <div class="row">
                            <div class="col-lg-3 col-sm-6">
                                <button type="button" class="btn mb-1 btn-rounded btn-dark" data-toggle="modal" data-target="#AddAccountModal">
                                    <span class="btn-icon-left"><i class="fa fa-plus" style="color: black;"></i> 
                                    </span>Add Account
                                </button>                    
                            </div>
                        </div>
                        <hr>
                        {% for account in account_list %}
                            <div class="card card-widget">
                                <div class="card-body label-primary">
                                    <div class="media">
                                        <span class="card-widget__icon"><i class="fa fa-credit-card"></i></span>
                                        <div class="media-body">
                                            <h2 class="card-widget__title">{{ account.balance }}</h2>
                                            <h5 class="card-widget__subtitle">{{ account.name }}</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <!-- #/ container -->
        </div>
        <!--**********************************
            Content body end
        ***********************************-->

        <div class="modal fade" id="AddAccountModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Add Account</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form method="POST">
                            {% csrf_token %}
                            {{ form_account|crispy }}
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="AddTransactionModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Add Transaction</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form method="POST">
                            {% csrf_token %}
                            {{ form_transaction|crispy }}
                            <!-- {{ form_transaction.media }} -->
                            {{ form_transaction.media }}
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
        
        
        