{% extends 'base.html' %}
{% load static %}

{% load crispy_forms_tags %}   
       
{% block active_acc_plan %} active {% endblock %}
{% block content %}

        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
            <div class="container-fluid mt-3">
                 {% if messages %}
                    {% for message in messages %}
                        {% if message.tags == 'error' %}
                            <div class="alert alert-danger alert-dismissible fade show">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                {{ message }}
                            </div>
                        {% else %}
                            <div class="alert alert-{{ message.tags }} alert-dismissible fade show">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                {{ message }}
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                <div class="row">
                    <div class="col-6 col-sm-9">
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body pb-0 d-flex justify-content-between">
                                        <button type="button" class="btn mb-1 btn-rounded btn-dark" data-id="{{ user.id }}" data-toggle="modal" data-target="#AddAccTransactionModal">
                                            <span class="btn-icon-left"><i class="fa fa-plus" style="color: black;"></i> 
                                            </span>Add Transaction
                                        </button>    
                                    </div>
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            {% if not acctrans_list %}
                                                <p class="text-danger">There were no transactions made yet.</p>
                                                <hr>
                                            {% else %}
                                                <table class="table table-striped">
                                                    <thead>
                                                        <tr>
                                                            <th>ID</th>
                                                            <th>Date</th>
                                                            <th>Account</th>
                                                            <th>Type</th>
                                                            <th>Description</th>
                                                            <th>Amount</th>
                                                            <th>Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for trans in acctrans_list %}
                                                            <tr>
                                                                <td class="font-weight-bold">{{ trans.id }}</td>
                                                                <td>{{ trans.date }}</td>
                                                                <td>{{ trans.account|capfirst }}</td>
                                                                {% if trans.trans_type == 'Income' %}
                                                                    <td><span class="label label-pill label-success">{{ trans.trans_type }}</span></td>
                                                                {% elif trans.trans_type == 'Expense' %}
                                                                    <td><span class="label label-pill label-danger">{{ trans.trans_type }}</span></td>
                                                                {% else %}
                                                                    <td><span class="label label-pill label-info">{{ trans.trans_type }}</span></td>
                                                                {% endif %}
                                                                <td>{{ trans.desc|capfirst }}</td>
                                                                <td class="color-primary">{{ trans.amount }}</td>
                                                                <td>
                                                                    <span>
                                                                        <a href="#" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-pencil color-muted m-r-5"></i> </a>
                                                                        <a href="javascript:void()" type="button" data-toggle="modal" data-target="#deleteAccountTransactionModal" data-id="{{ trans.id }}">
                                                                            <i class="fa fa-close color-danger"></i>
                                                                        </a>
                                                                    </span>
                                                                </td>
                                                            </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            {% endif %}
                                        </div>
                                    </div>
                                    {% if is_paginated %}
                                        <div class="bootstrap-pagination">
                                            <nav>
                                                <ul class="pagination justify-content-center">
                                                    {% if page_obj.has_previous %}
                                                        <li class="page-item"><a class="page-link" href="?page=1" aria-label="Previous"><span aria-hidden="true">&laquo;</span> <span class="sr-only">Previous</span></a>
                                                        <li class="page-item disabled"><a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1">Previous</a>
                                                        </li>
                                                    {% endif %}

                                                    {% for num in page_obj.paginator.page_range %}
                                                        {% if page_obj.number == num %}
                                                            <li class="page-item active"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                                                        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'+3' %}
                                                            <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                                                        {% endif %}
                                                    {% endfor %}

                                                    {% if page_obj.has_next %}
                                                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
                                                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }" aria-label="Next"><span aria-hidden="true">&raquo;</span> <span class="sr-only">Next</span></a></li>
                                                    {% endif %}
                                                </ul>
                                            </nav>
                                        </div>
                                    {% endif %}
                                </div>

                                <div class="card">
                                    <div class="card-body pb-0 d-flex justify-content-between">
                                        <button type="button" class="btn mb-1 btn-rounded btn-dark" data-toggle="modal" data-target="#MakeTransferModal">
                                            <span class="btn-icon-left"><i class="fa fa-plus" style="color: black;"></i> 
                                            </span>Make a Transfer
                                        </button>    
                                    </div>
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            {% if not transfer_list %}
                                                <p class="text-danger">There were no tranfers made yet.</p>
                                                <hr>
                                            {% else %}
                                                <table class="table table-striped">
                                                    <thead>
                                                        <tr>
                                                            <th>Status</th>
                                                            <th>ID</th>
                                                            <th>Date</th>
                                                            <th>From (Account)</th>
                                                            <th>To (Budget)</th>
                                                            <th>Description</th>
                                                            <th>Amount</th>
                                                            <th>Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for transf in transfer_list %}
                                                            <tr>
                                                                <td><i class="fa fa-check gradient-3-text" aria-hidden="true"></i></td>
                                                                <td class="font-weight-bold">{{ transf.id }}</td>
                                                                <td>{{ transf.date }}</td>
                                                                <td>{{ transf.account|capfirst }}</td>
                                                                <td>{{ transf.budget|capfirst }}</td>
                                                                <td>{{ transf.desc|capfirst }}</td>
                                                                <td class="color-primary">{{ transf.amount }}</td>
                                                                <td>
                                                                    <span>
                                                                        <a href="#" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-pencil color-muted m-r-5"></i></a>
                                                                        <a href="javascript:void()" type="button" data-toggle="modal" data-id="{{ transf.id }}" data-target="#cancelTransferModal">
                                                                            <i class="fa fa-close color-danger"></i>
                                                                        </a>
                                                                    </span>
                                                                </td>
                                                            </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-6 col-sm-3">
                        <div class="row">
                            <div class="col-lg-3 col-sm-6">
                                <button type="button" class="btn mb-1 btn-rounded btn-dark" data-toggle="modal" data-target="#AddAccountModal">
                                    <span class="btn-icon-left"><i class="fa fa-plus" style="color: black;"></i> 
                                    </span>Add Account
                                </button>                    
                            </div>
                        </div>
                        <hr>
                        {% for account in account_list %}
                            <div class="card card-widget card gradient-1">
                                <div class="card-body">
                                    <button type="button" class="close" data-toggle="modal" data-target="#deleteAccountModal" data-id="{{ account.id }}" data-name="{{ account.name }}">
                                        <span aria-hidden="true" class="opacity-5"><i class="ti-trash"></i></span>
                                    </button>
                                    <div class="media">
                                        <span class="card-widget__icon opacity-5"><i class="fa fa-credit-card"></i></span>
                                        <div class="media-body">
                                            <h2 class="card-widget__title">$ {{ account.total_balance }}</h2>
                                            <h5 class="card-widget__subtitle">{{ account.name|title }}</h5>
                                        </div>
                                    </div>
                                </div>
                                <button type="button" class="btn btn-light btn-xs" data-toggle="modal" data-target="#editAccountModal" data-id="{{ account.id }}" data-balance="{{ account.balance }}" data-name="{{ account.name }}">Edit Account
                                    <span class="btn-icon-right"><i class="icon-note menu-icon"></i></span>
                                </button>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <!-- #/ container -->
        </div>
        <!--**********************************
            Content body end
        ***********************************-->


        <!--**********************************
            Modals
        ***********************************-->

        <div class="modal fade" id="AddAccountModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Add Account</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form method="POST">
                            {% csrf_token %}
                            <input type='hidden' name='action' value='btn-acct'> 
                            {{ form_account|crispy }}
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                <input type="submit" class="btn btn-primary" value="Submit">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="editAccountModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Edit Account</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form method="POST">
                            {% csrf_token %}
                            <input type="hidden" class="form-control account-id" name="id">
                            <input type='hidden' name='action' value='btn-edit-acct'> 
                            {{ form_account|crispy }}
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                <input type="submit" class="btn btn-primary" value="Submit">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="AddAccTransactionModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Add Transaction</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form method="POST">
                            {% csrf_token %}
                            <input type='hidden' name='action' value='btn-trans'> 
                            {{ form_transaction|crispy }}
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                <input type="submit" class="btn btn-primary" value="Submit">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="MakeTransferModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Make a Transfer</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form method="POST">
                            {% csrf_token %}
                            <input type='hidden' name='action' value='btn-transf'> 
                            {{ form_transfer|crispy }}
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                <input type="submit" class="btn btn-primary" value="Submit">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="deleteAccountModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Delete Confirmation</h5>
                        <button type="button" class="close" data-dismiss="modal"><span>&times;</span>
                        </button>
                    </div>
                    <form method="POST">
                        {% csrf_token %}
                        <input type="hidden" class="form-control account-id" value="{{ account.id }}" name="name">
                        <input type='hidden' name='action' value='btn-acct-del'> 
                        <div class="modal-body"></div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="modal fade" id="deleteAccountTransactionModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Delete Confirmation</h5>
                        <button type="button" class="close" data-dismiss="modal"><span>&times;</span>
                        </button>
                    </div>
                    <form method="POST">
                        {% csrf_token %}
                        <input type="hidden" class="form-control acct-trans-id" name="id">
                        <input type='hidden' name='action' value='btn-acct-trans-del'> 
                        <div class="modal-body"></div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="modal fade" id="cancelTransferModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Delete Confirmation</h5>
                        <button type="button" class="close" data-dismiss="modal"><span>&times;</span>
                        </button>
                    </div>
                    <form method="POST">
                        {% csrf_token %}
                        <input type="hidden" class="form-control make-transf-id" name="id">
                        <input type='hidden' name='action' value='btn-make-transf-del'> 
                        <div class="modal-body"></div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!--**********************************
            End of Modals
        ***********************************-->
{% endblock %}
        
        